<div class="filter">
  <div class="filter-head">
    Filter
  </div>
  <div class="filter-body">
    <form class="filter-form">
      <div class="filter-item">
        <p>Year</p>
        <div class="filter-year">
          <input class="year-from" placeholder="from" type="text">
          <input class="year-to" placeholder="to" type="text">
        </div>
      </div>
      <div class="filter-item">
        <p>Genre</p>
        <div class="filter-genre" (click)="genresList()">
          <span *ngIf="selected.length == 0" class="selected-genres">Select genre</span>
          <div  *ngIf="selected.length > 0" class="selected-genres">
            <div *ngFor="let genre of selected">
              <app-genre-item [genre]="genre" (genreEvent)="removeGenre($event)" ></app-genre-item>
            </div>
          </div>
          <div [ngClass]="{'genre-content-vis': visible, 'genre-content-notvis': !visible}">
            <div class="genre-list" *ngFor="let genre of genres">
              <app-genre-option [genre]="genre" (genreEvent)="addGenre($event)">
              </app-genre-option>

            </div>
          </div>
        </div>
      </div>
      <div class="filter-item">
        <p>Order By</p>
        <div>
          <select>
            <option>Date</option>
            <option>Rating</option>
            <option>Alphabet</option>
          </select>
        </div>
      </div>
      <button class="search-btn">
        Search
      </button>
    </form>
  </div>
<!--  <div>-->
<!--    <div *ngFor="let sel of selected">-->
<!--      {{sel}}-->
<!--    </div>-->
<!--    <h1 (click)="selected.push(genres[0])">{{genres[0]}}</h1>-->
<!--  </div>-->
</div>

