.wrap{
  width: 100%;
  height: 4545px;
  margin-top: 200px;
  /*background-color: rgb(21, 242, 56);*/
}

.wrap-center{
  width: 1000px;
  height: 4545px;
  margin: auto;
  background-color: green;
}
.header{
  width: 1000px;
  height: 350px;
  background-color: #443333;
}
div {
  display: block;
}
.auth{
  background-color: #fff;
  padding: 10px 20px;
}

.row{
  display: flex;
  justify-content: space-between;
}

.middle{
  align-items: center;
  -webkit-align-items: center;
}

.logo{
  display: block;
  width: 220px;
  height: 40px;
}

.search-wrap {
  position: relative;
  margin: 0 20px;
  /*width: 500px;*/
}

.fx-1 {
  /*-ms-flex-preferred-size: 0;*/
  flex-basis: 0;
  -webkit-box-flex: 1;
  /*-ms-flex-positive: 1;*/
  flex-grow: 1;

  max-width: 65%;
  min-width: 50px;
}

form{
  display: block;
}

#quicksearch{
  width: 532px;
  height: 40px;
}

.search-box {
  width: 340px;
  position: relative;
  display: flex;
}

input{
  vertical-align: middle;
}

input[type='text']{
  /*appearance: none;*/
  -webkit-appearance: none;
  font-size: 16px;
  font-family: 'Source Sans Pro'!important;
}

.search-box input, .search-box input:focus {
  width: 100%;
  padding: 0 60px 0 20px;
  background-color: #fff;
  box-shadow: inset 0 0 0 1px #e3e3e3;
  color: #000;
  border-radius: 12px;
  height: 35px;
  line-height: 40px;
}

.fa .fa-search

.b-search{
  display: flex;
}
