<div class = "wrap" >
  <div class = "wrap-center">
    <header class = "header">
      <div class = "auth row middle" style="width: 960px; height: 40px">
          <a href="#" class="logo">
            <img src="https://jut-su.net/templates/anime/images/logo.png" >
          </a>

          <div class="search-wrap fx-1">
              <form id="quicksearch" method="post">
                <input type="hidden" name="do" value="search">
                <input type = "hidden" name="subaction" value="search">
                <div class="search-box" >
                  <input id="story" name="story" placeholder="Search for" type="text" autocomplete="off">
                  <button type="submit" title="Find" class="b-search">
                    <span class="fa fa-search">
                    </span>
                  </button>
                </div>
              </form>
          </div>
          <div class="login-btns">
            <a href="#" class="btn-register">Register</a>
            <a href="#" class="btn-login">Login</a>
          </div>

      </div>
      <app-anime-list-header></app-anime-list-header>
      <div class="header-three">
        <ul class="hr">
          <li>
            Фильм
          </li>
          <li>
            TV сериал
          </li>
          <li>
            OVA
          </li>
          <li>
            ONA
          </li>
          <li>
            Топ 100
          </li>
          <li>
            Онгоинги
          </li>
          <li>
            Анонсы
          </li>
        </ul>
      </div>
    </header>
    <router-outlet>

    </router-outlet>
  </div>
</div>
