.wrap{
  width: 100%;
  height: auto;
  /*margin-top: 200px;*/
  /*background-color: rgb(21, 242, 56);*/
}

.wrap-center{
  width: 1000px;
  height: auto;
  margin: auto;
  background-color: #d5e1f5;
}

.title-container {
  padding: 15px 20px;
  color: black;
}

.info {
  display: flex;
  padding-bottom: 25px;
  border-bottom: solid rgba(150, 150, 150, 0.3) 1px;
}

.info img {
  height: 273px;
}

.img-cont {
  margin-right: 35px;
}


.title-box {
  padding-bottom: 10px;
  border-bottom: solid rgba(150, 150, 150, 0.7) 1px;
}

.info-text {
  width: 70%;
}

.title {
  margin-top: 0;
  margin-bottom: 5px;
}

.title-box span {
  font-size: 16px;
}

.info-text div div {
  font-size: 16px;
  margin-top: 8px;
  padding-bottom: 8px;
  border-bottom: solid rgba(150, 150, 150, 0.3) 1px;
}
.info-text div div b {
  display: inline-block;
  width: 250px;
}

.description {
  font-size: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  text-align: justify;
  border-bottom: solid rgba(150, 150, 150, 0.3) 1px;
}

.rating {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 5px;
}

.rating input {
  display: inline-block;
  margin: 0;
}

.fa-star {
  visibility: hidden;
  font-size: 18px;
  color: #c1c0c0;
}
.fa-star:before {
  position: relative;
  visibility: visible;
}
.fa-star:checked:before {
  color: orange;
}

/*.not-rated {*/
/*  color: #c1c0c0;*/
/*}*/
/*.rated {*/
/*  color: orange;*/
/*}*/

.button-section {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.button-watch {
  padding: 8px 15px;
  background-color: #4848b5;

  color: white;
  border-radius: 2px;
  margin-right: 15px;
  text-decoration: none;
}

.button-watch:hover {
  background-color: #29297a;
}

.add-to-list {
  background-color: #c38af8;
  font-size: 16px;
  color: white;
  padding: 8px 10px;
  height: auto;
  border-radius: 2px;
  text-align: center;
}

.added-to-list {
  background-color: #9427fa;
  font-size: 16px;
  color: white;
  padding: 8px 10px;
  height: auto;
  border-radius: 2px;
  text-align: center;
}

.add-to-list:hover {
  background-color: #9e6ad0;
}

.fa-play, .fa-plus, .fa-check {
  margin-right: 7px;
}

.player {
  position: relative;
  width: 100%;
  padding-bottom: 56%;
}

.player iframe {
  width: 90%;
  height: 90%;
  top: 30px;
  left: 5%;
  position: absolute;
}

/*.comment-section {*/
/*  margin-top: 50px;*/
/*  background-color: black;*/
/*  display: flex;*/
/*  height: 100%;*/
/*}*/


.comment{
  width: 900px;
  height: 150px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

textarea {

}

.leave-comment{
  resize: none;
  display: block;
  width: 700px;
  height: 100px;
  font-size: 16px;
}
.bt-com{
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /*padding-bottom: 60px;*/
}

.bt-com button{
  padding: 5px 10px;
  font-size: 15px;
  margin-right: 10px;
}
.comments {
  width: 700px;
  margin-left: 50px;
  box-sizing: border-box;
}


