.main-container {
  display: flex;
  flex-direction: row;
  height: auto;
}

.invisible{
  display: none;
}

.wrap{
  width: 100%;
  height: auto;
  /*margin-top: 200px;*/
  /*background-color: rgb(21, 242, 56);*/
}
button.b-search{
  cursor: pointer;
}
.wrap-center{
  width: 1000px;
  height: auto;
  margin: auto;
  background-color: #d5e1f5;
}
.header{
  width: 1000px;
  height: auto;
  background-color: black;
}
div {
  display: block;
}

