<div class="desc-text fx-last">
    <p>В ХХ в. на Востоке, а именно в Японии, возникло новое искусство мультипликации – аниме. Простота и легкость этого невероятного жанра дает возможность познать себя. Из-за разности в менталитете и характерного рисования, японская анимация сильно отличается от европейской. Замкнутость японцев отображается в персонажах аниме, которые выражают свои чувства в скрытой форме.</p>
    <p class="after-image">Помимо этого, японский народ считается вежливым и гостеприимным, но несравнимо с русской душой. Много поклонников боятся пропустить и с захватом смотрят все серии аниме. В честь любимых героев они устраивают особые фестивали и шоу-косплеи, на которых демонстрируют яркие костюмы известных персонажей. Но вместе с тем, аниме смотрят еще и из-за высокого качества детальной прорисованности.</p>
    <img src="../assets/footer.jpg" width="250" height="143">
    <p class="second-abstance">В данное время аниме-сериалы стают более популярными. И теперь даже тяжело определить, что лидирует: чтение мангы онлайн или просмотры аниме онлайн.</p>
    <h2>Пять топовых аниме по запросам наших пользователей:</h2>
    <ul class="footer-list">
      <li><a>Черный клевер</a></li>
      <li><a>Ван-Пис</a></li>
      <li><a>Боруто: Новое поколение Наруто</a></li>
      <li><a>Наруто</a></li>
      <li><a>Клинок, рассекающий демонов</a></li>
    </ul>
    <p>На сегодняшний день интернет переполнен сайтами с материалами по данной теме. Наш портал является полным собранием аниме с переводом на русский язык. К каждому из них есть описание. Чтобы просмотр был более приятным, на сайте установлен плеер с опциями, которыми очень легко и удобно пользоваться.</p>
    <h2>Только у нас аниме онлайн</h2>
    <p>Здесь вас ждут разнообразные жанры, в которых вы сможете переживать вместе с героями всю их жизнь от моментов радости и влюбленности из жанра романтики до невероятных приключений фэнтазийных сериалов. Девочки и мальчики тут встретят изумительных сёдзё и сёнэн. Почитатели своеобразных направлений сёдзё-ай и сёнэн-ай смогут наблюдать за их героями. Вы будете иметь возможность посмотреть аниме любого жанра и направления. Тут вы найдете демоны и школа, Гарем и Этти, Психологическое и Сверхъестественное. OVA, спешелы, бонуссерии – все сезоны любимого аниме ждут вас на этом портале.</p>
  </div>
<div class="footer">
    <div class="footer-top">
        © 2021
    </div>
    <div class="footer-bottom">
        <a href="#">Карта сайта</a>
        <a href="#">Обратная связь</a>
        <a href="#">Правообладателям</a>
        <a href="#">Главная</a>
    </div>
</div>

